// Place all the styles related to the Numbers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";
* {
    text-align: center;
}

h4:nth-child(3) {

}

.message {
    margin-top: 50px;
    height: 100px;
    width: 200px;
}

p {
    margin-top: 20px;
}

.red {
    background-color: red;
    margin: 0px auto;
    margin-top: 15px;
}

#green {
    background-color: green;
    margin: 0px auto;
    margin-top: 15px;
}
